/*
	Flex bot not dynamic
*/
* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	color: var(--primary-color);
	font-family: Söhne,ui-sans-serif,system-ui,-apple-system,Segoe UI,Roboto,Ubuntu,Cantarell,Noto Sans,sans-serif,Helvetica Neue,Arial,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji, Montserrat;
}

:root {
	--sidebar-color: #202123;
	--main-color: #343441;
	--primary-color: #edecf1;
}

ul {
	list-style: none;
}

a {
	text-decoration: none;
}

h1 {
	text-align: center;
}

p {
	display: inline-block;
	font-size: 18px;
}

.main__content {
	background-color: var(--main-color);
}

.home__wrapper {
	display: flex;
	flex-direction: row;
	height: 100vh; /* parent has no width so use vh */
}

.sidebar {
	background-color: var(--sidebar-color);
	height: 100%;
	width: 300px;
	/*
	min width is useful when div container has no children
	it is block element, so takes 100% of children's content
	*/
	min-width: 300px;
	overflow-x: clip;
	white-space: nowrap;
}

.main__content {
	/*width: calc(100% - 200px);*/
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	line-height: 1.5;
	text-align: center;
	font-weight: bold;
}

.sidebar__header {}

.sidebar__list {
	display: flex;
	flex-direction: row;
	height: 60%;
	justify-content: center;
	text-align: center;
}

.sidebar__footer {
	display:flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
	margin-left: 20px;
	gap: 35px;
	text-align: center;
}


.sidebar__footer > a > i {
	margin-right: 6px;
	font-size: 18px;
}

.sidebar__footer > a > p {
	font-weight: 300;
	font-size: 18px;
}


.sidebar__list--item {
	margin: 20px 10px;
}

.sidebar__list--item:hover {
	background-color: #343441;
}

.sidebar__list--item-text {
	margin-left: 20px;
}

.sidebar__header {
	border: .3px solid white;
	border-radius: 6px;
	margin: 20px 10px;
	padding: 20px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.fa-solid, .fa-regular {
	font-size: 18px;
	margin-left: 10px;
}

.sidebar__header--text {
	margin-left: 30px;
}

.grid__container {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: repeat(4, 1fr);
	gap: 20px;
	justify-content: center;
	align-items: center;
	margin: 50px;
	font-weight: 300;
}

.grid__container--item {
	height: 100%;
	background-color: #3e3e4b;
	/*background-color: #39c786;*/
	border: 1px thin #ddd;
	border-radius: 10px;
	box-shadow: 0px .2px 0px #aaa;
	overflow: hidden;
}

.grid__container--item-header {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.grid__container--item-header > i {
	margin-bottom: 10px;
	font-size: 22px;
}

.grid__container--item-header > p {
	font-size: 22px;
	font-weight: 400;
}